<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="./css/main.css">
    <title>Sign-up page</title>
</head>
<body>
<div class="navbar-light">
    <div class="container">
        <a href="#" class="logo logo--dark">
            <div class="logo-img logo-img--dark">
        <span>
            <img src="./img/logo-dark.png" alt="">
        </span>
            </div>
            <div class="logo-text">
                <p class="logo-text-abbr">IBA</p>
                <p class="logo-text-company-name">Tech Academy</p>
            </div>
        </a>
    </div>
</div>
<main class="start-content">
    <div class="container">
        <div class="start-content-row">
            <div class="start-content-welcome-img-b">
                <img src="./img/start-page-promo.png" class="start-content-welcome-img" alt="#">
            </div>
            <div class="start-content-welcome-text-b">
                <h1 class="welcome-title">Create an account</h1>
                <p class="welcome-text">Create your account, it takes less than a minute. If you already have an account
                    <a class='text-link'>Login</a></p>


                <form action="#" class="sign-up-form" id="sign-up-form">
                    <div class="text-input-container complete">
    <span class="text-input-icon">
        <span>
            <img src="./img/icons/user.png" alt="">
        </span>        
    </span>
                        <input type="text" class="form-control complete" placeholder="Full name"
                               value="Anatolii Safronov">

                        <div class="checkbox-container">
                            <input type="checkbox" class="checkbox-input" id="remember-user" name="remember-user"
                                   checked="checked">
                            <label class="checkbox-overlay" for="remember-user"></label>
                        </div>


                    </div>
                    <div class="text-input-container complete">
    <span class="text-input-icon">
        <span>
            <img src="./img/icons/email.png" alt="">
        </span>        
    </span>
                        <input type="email" class="form-control complete" placeholder="Email address"
                               value="Anatolii.safronov@gmail.com">

                        <div class="checkbox-container">
                            <input type="checkbox" class="checkbox-input" id="remember-user" name="remember-user"
                                   checked="checked">
                            <label class="checkbox-overlay" for="remember-user"></label>
                        </div>


                    </div>
                    <div class="text-input-container complete">
    <span class="text-input-icon">
        <span>
            <img src="./img/icons/password.png" alt="">
        </span>        
    </span>
                        <input type="password" class="form-control complete" placeholder="Password"
                               value="Anatolii Safronov">

                        <div class="checkbox-container">
                            <input type="checkbox" class="checkbox-input" id="remember-user" name="remember-user"
                                   checked="checked">
                            <label class="checkbox-overlay" for="remember-user"></label>
                        </div>


                    </div>
                    <div class="text-input-container wrong">
    <span class="text-input-icon">
        <span>
            <img src="./img/icons/password.png" alt="">
        </span>        
    </span>
                        <input type="password" class="form-control wrong" placeholder="Confirm password"
                               value="Anatolii Safronov">


                        <div class="checkbox-container">
                            <input type="checkbox" class="checkbox-input" id="remember-user" name="remember-user"
                                   checked="checked">
                            <label class="checkbox-overlay" for="remember-user"></label>
                        </div>

                    </div>

                    <div class="button-container">
                        <button class="btn btn-dark">Create account</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
</main>
</body>
</html>